<div class="contenido-general">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h3>Eleccion</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <img src="../../../../../assets/eleccion/elecciones.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-3">
            <h4>Acciones</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="option-list">
                <li>
                    <button class="btn-prin w-100" (click)="iniciarVotacion()">Iniciar eleccion</button>
                </li>
                <li>
                    <button class="btn-prin w-100" (click)="consultarEstadoVotacion()">Consultar estado</button>
                </li>
                <li>
                    <button class="btn-prin w-100" (click)="finalizarEleccion()">Finalizar eleccion</button>
                </li>
                <li>
                    <button class="btn-prin w-100" (click)="resultadosVotacion()">Mostrar resultados</button>
                </li>
                <li>
                    <button class="btn-prin w-100" (click)="consultarCandidatos()">Consultar cantidad de candidatos</button>
                </li>
            </ul>
        </div>
    </div>
</div>
